#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.App form{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.decks {
  display: grid;
  width: 500px;
  margin: 0 auto;
  grid-gap: 10px;
  color: black;
  grid-template-columns: repeat(3, 1fr);
}

.decks li{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
  background: white;
  border: 1px solid white;
  border-radius: 5px;
}

.decks li button {
  position:absolute;
  width: 10px;
  height: 10px;
  font-size: 10px;
  top: 0;
  right: 5px;
}
